<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LAB5_Login_.Properties.Settings.ConnectionString"
            connectionString="Data Source=DESKTOP-ETKLPNH\SQLEXPRESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LAB5_Login_.Properties.Settings.signUpConnectionString"
            connectionString="Data Source=DESKTOP-QQJIE0P;Initial Catalog=signUp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LAB5_Login_.Properties.Settings.BOOKConnectionString"
            connectionString="Data Source=DESKTOP-QQJIE0P;Initial Catalog=BOOK;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LAB5_Login_.Properties.Settings.BOOKSTOREConnectionString"
            connectionString="Data Source=DESKTOP-QQJIE0P;Initial Catalog=BOOKSTORE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LAB5_Login_.Properties.Settings.storeDBConnectionString"
            connectionString="Data Source=DESKTOP-QQJIE0P;Initial Catalog=storeDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>